<%- include('../partials/header') %>
<h1>Flight Details:</h1>
<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight No: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>


<br><br><h2>Destination</h2>
<form  method="POST" action="/flights/<%= flight._id %>/destination">
    <label>Airport</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label>Arrival</label>
    <input name="arrival" type="time">
    <!-- <button type="submit">Add Destination</button> -->
    <input type="submit" value="Add Destination">

</form>

<% if (flight.destination.length) { %>
    <table>
        <thead>
            <tr>
                <th>Airport</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destination.forEach(function(d) {  %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

<% } else { %>
    <h5>No destination Yet</h5>
<% } %>

  
<%- include('../partials/footer') %>
